<!DOCTYPE html>
<html lang="es">
<head>
	<!-- Facebook tags -->
	<meta property="og:title"              content="Contranova"/>
	<meta property="og:type"               content="website"/>
	<meta property="og:image"              content="img/social_facebook.jpg"/>
	<meta property="og:image:type" 		   content="image/jpg">
	<meta property="og:description"        content="Música para eventos y matrimonios"/>
	<meta property="og:url"                content="http://contranova.cl/"/>
	
	<title>Contranova</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

	<!-- Fonts -->
	<link href='https://fonts.googleapis.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>


	<!-- Bootstrap  CSS -->
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">

	<!--  fortawesome -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

	<!-- Preloader -->
	<link rel="stylesheet" href="css/please-wait.min.css">
	<link rel="stylesheet" href="css/preloader.css">

	<!-- Magnific Popup core CSS file -->
	<link rel="stylesheet" href="css/magnific-popup.css">
	
	<!-- CSS -->
	<link rel="stylesheet" href="css/theme.css">

	<!-- jQuery -->
	<script src="js/jquery-1.11.3.min.js"></script>

	<!-- lazyLoad -->
	<script src="js/jquery.lazyload.js"></script>

</head>
<body ng-app="myApp">

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-77981997-1', 'auto');
	  ga('send', 'pageview');

	</script>

	<!--***********************
	   		 header
	***********************-->
	<header>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0;">
				<div class="header" id="goToTopClick" id="header">
					<div class="headerContent col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="whiteLine"></div><br>
						<h4 class="headerText text-center">Música en vivo</h4>
						<h1 class="headerTextCenter text-center">Contranova</h1>
						<h1 class="headerTextBotton text-center">Bossa Nova , Smooth Jazz , Greatest Hits</h1>
						<br>	
						<div class="whiteLine"></div><br>	
					</div>
				</div>
			</div>
		</div>
	</header>


	<!--***********************
	   		   Menu
	***********************-->
	<div class="menu">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0;">
				<nav class="navbar navbar-inverse"> <!-- navbar-fixed-top -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" id="logoContra" href="#">Contranova</a>
					</div>
					<div id="navbar" class="navbar-collapse collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a id="quienesSomos">Quiénes somos</a></li>
							<li><a id="repertorio">Repertorio</a></li>
							<li><a id="galeria">Galería</a></li>
							<li><a id="referencias">Referencias</a></li>
							<li><a id="siguenos">Síguenos</a></li>
							<li><a id="contacto">Contacto</a></li>
						</ul>
					</div><!--/.nav-collapse -->
				</nav>
			</div>
		</div>
	</div>



	<!--***********************
	   	   Quienes somos
	***********************-->
	<div class="quienesSomos" id="quienesSomosClick">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<h3 class="titles text-center">Quiénes somos</h3>

				<div class="redLine"></div><br>

				<h5 class="text-center">Contranova es una banda dedicada a musicalizar todo tipo de eventos y ambientes</h5><br>
				<p class="text-center">Cócteles, cenas, matrimonios, boulevards, celebraciones, etc</p>
				<p class="text-center">Conformada por un saxofonista, pianista y contrabajista,</p>
				<p class="text-center">todos músicos profesionales para entregar un show de primera calidad</p>
				<br><br>
			</div> 
			
			<div class="quienesSomosImg col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<img data-original="img/quienes_somos_1.jpg" class="img-responsive lazy">
			</div>
			<div class="quienesSomosImg col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<img data-original="img/quienes_somos_2.jpg" class="img-responsive lazy">
			</div>
			<div class="quienesSomosImg col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<img data-original="img/quienes_somos_3.jpg" class="img-responsive lazy" id="readyLoad">
			</div>
			
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-top: 15px;">
				<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EuvwKci-Dak">
					</iframe>
				</div>
			</div>

		</div>
	</div>


	<!--***********************
	   	   Repertorio
	***********************-->
	<div class="repertorio" id="repertorioClick">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<br><br>
				<h3 class="titles text-center">Nuestro repertorio</h3>
				<div class="redLine"></div><br><br>
			</div>
			<div class="col-xs-12 col-sm-10 col-md-10 col-lg-10
			col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
				<p class="text-center">El repertorio es de una amplia variedad, enfocado más a grandes hits de todos los tiempos , desde Frank Sinatra, Aretha Franklin, The Beatles hasta Michael Jackson , Journey, Maroon 5, Michael Bublé, entre otros. Los temas son adaptados a nuestro formato de una manera moderna, entretenida y a su vez elegante, sin dejar de lado los clásicos bossa novas y standard de jazz, lo que nos permite adaptarnos a cualquier estilo de evento</p>
				<br><br>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding: 0;">
				<div class="repertorioBloque">
					<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8
					col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
					<h5 class="text-center">Aquí algunas de las canciones de nuestro amplio repertorio</h5> <br>
					<p class="text-center">Aretha Franklin - I Say A Little Pray</p>
					<p class="text-center">The Beatles - Here, There & Everywhere</p>
					<p class="text-center">Bee Gees - How Deep Is Your Love</p>
					<p class="text-center">Bruno Mars - Treasure</p>
					<p class="text-center">The Carpenters - Close To You</p>
					<p class="text-center">Daft Punk - Get Lucky</p>
					<p class="text-center">Earth, Wind & Fire - September</p>
					<p class="text-center">Elvis Presley - Can’t Help</p>
					<p class="text-center">Eric Clapton - Change The World</p>
					<p class="text-center">Faith No More - Easy</p>
					<p class="text-center">Frank Sinatra - My Way</p>
					<p class="text-center">Guns N’ Roses - Sweet Child O’ Mine</p>
					<p class="text-center">Journey - Lights</p>
					<p class="text-center">Luis Miguel - Sabor A Mí</p>
					<p class="text-center">Maroon 5 - Sugar</p>
					<p class="text-center">Michael Bublé - Sway</p>
					<p class="text-center">Michael Jackson - Love Never Felt So Good</p>
					<p class="text-center">Pharrell Williams - Happy</p>
					<p class="text-center">Phil Collins - Agains All Odds</p>
					<p class="text-center">Simply Red - You Make Me Feel Brand New</p>

					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<br>
				<h4 class="titles text-center">Listado Completo</h4>
				<br>
				<div class="buttonContranovaContenedor">
					<a href="download/repertorio.pdf" class="buttonContranova" target="_blank">Descargar aquí</a>
				</div>
			</div>
		</div>
	</div>


<!--***********************
	   	   Galeria
	***********************-->
	
	<div class="galeria">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="galeriaClick">
				<br><br>
				<h3 class="titles text-center">Galería</h3>
				<div class="redLine"></div><br><br>
			</div>
			
			<div class="largeScreen">
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="padding:0; padding-left: 20px !important;">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0 !important;">
						<div class="galeriaCuadroAncho evento1 matrimonio1">
							<div class="eventoBox">
								<div class="evenboxInside">
									<h3 class="galeriaText text-center">EVENTO</h3>
									<h4 class="galeriaText text-center">EDIPAC</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-top:20px !important; padding:0; padding-right: 10px !important;">
						<div class="galeriaCuadroCuadrado evento3 matrimonio3">
							<div class="eventoBox">
								<div class="evenboxInside">
									<h3 class="galeriaText text-center">MATRIMONIO</h3>
									<h4 class="galeriaText text-center">Mª IGNACIA & CLAUDIO</h4>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="margin-top:20px !important; padding:0; padding-left: 10px !important;">
						<div class="galeriaCuadroCuadrado evento4 matrimonio4">
							<div class="eventoBox">
								<div class="evenboxInside">
									<h3 class="galeriaText text-center">MATRIMONIO</h3>
									<h4 class="galeriaText text-center">PAULINA & RODRIGO</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="padding:0; padding-left: 20px !important; padding-right: 20px !important;">
					<div class="galeriaCuadroLargo evento2 matrimonio2">
						<div class="eventoBoxEspecial">
							<div class="evenboxInside">
								<h3 class="galeriaText text-center">MATRIMONIO</h3>
								<h4 class="galeriaText text-center">CLUB HIPICO</h4>
								</div>
							</div>
					</div>
				</div>
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8" style="margin-top:20px !important; padding:0; padding-left: 20px !important;"> 
					<div class="galeriaCuadroAncho evento5 matrimonio5">
						<div class="eventoBox">
							<div class="evenboxInside">
								<h3 class="galeriaText text-center">MATRIMONIO</h3>
								<h4 class="galeriaText text-center">CAROLINA & CRISTIAN</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="margin-top:20px !important; padding:0; padding-left: 20px !important; padding-right: 20px !important;">
					<div class="galeriaCuadroCuadrado evento6 matrimonio6">
						<div class="eventoBox">
							<div class="evenboxInside">
								<h3 class="galeriaText text-center">MATRIMONIO</h3>
								<h4 class="galeriaText text-center">LORETO & MANUEL</h4>
							</div>
						</div>
					</div>
				</div>
			</div>

			
			<div class="smallScreen">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin-top:20px !important;">
					<div class="galeriaCuadroCuadrado evento1 matrimonio1">
						<div class="eventoBox">
							<div class="evenboxInside">
								<h3 class="galeriaText text-center">EVENTO</h3>
								<h4 class="galeriaText text-center">EDIPAC</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin-top:20px !important;">
					<div class="galeriaCuadroCuadrado evento3 matrimonio3">
						<div class="eventoBox">
							<div class="evenboxInside">
								<h3 class="galeriaText text-center">MATRIMONIO</h3>
								<h4 class="galeriaText text-center">María Ignacia & Claudio</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin-top:20px !important;">
					<div class="galeriaCuadroCuadrado evento4 matrimonio4">
						<div class="eventoBox">
							<div class="evenboxInside">
								<h3 class="galeriaText text-center">MATRIMONIO</h3>
								<h4 class="galeriaText text-center">PAULINA & RODRIGO</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin-top:20px !important;">
					<div class="galeriaCuadroCuadrado evento2 matrimonio2">
						<div class="eventoBox">
							<div class="evenboxInside">
								<h3 class="galeriaText text-center">MATRIMONIO</h3>
								<h4 class="galeriaText text-center">CLUB HÍPICO</h4>
								</div>
							</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin-top:20px !important;">
					<div class="galeriaCuadroCuadrado evento5 matrimonio5">
						<div class="eventoBox">
							<div class="evenboxInside">
								<h3 class="galeriaText text-center">MATRIMONIO</h3>
								<h4 class="galeriaText text-center">CAROLINA & CRISTIAN</h4>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" style="margin-top:20px !important;">
					<div class="galeriaCuadroCuadrado evento6 matrimonio6">
						<div class="eventoBox">
							<div class="evenboxInside">
								<h3 class="galeriaText text-center">MATRIMONIO</h3>
								<h4 class="galeriaText text-center">LORETO & MANUEL</h4>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>

		<!--***********************
	   	   Rerencias
	***********************-->
	<div class="referencias" id="referenciasClick">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<br><br>
					<h3 class="titles text-center">Referencias</h3>
					<div class="redLine"></div><br><br>
			</div>
			<div class="col-xs-10 col-sm-6 col-md-6 col-lg-6
			col-xs-offset-1 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
				<p class="text-center">"A pesar del frío de la tarde Contranova se encargó de empapar el ambiente de calidez, invitando a las personas a relajarse y dejarse llevar por su música. Cada nota te permitía viajar a través de un imponente cielo rosado que poco a poco se esfumaba para dar la bienvenida a una noche cargada de sorpresas. Sin dudas un espectáculo para los oídos de quienes disfrutan de la vida y de los clásicos de la música"</p>
				<h5 class="text-center">Javiera Zamorano, Edipac</h5><br><br>
				<p class="text-center">"Queríamos darle un toque más personalizado a la música de nuestra cena y  que nos representara, con Contranova tuvimos una buena llegada ya que tienen gran  disposición para trabajar. Juntos elegimos el repertorio teniendo una amplia gama de opciones, siempre dispuestos a buscar nuevos temas y darle satisfacción al cliente. Muy buena calidad de sonido, presentación personal y puntualidad, 100 % recomendables, dieron que hablar entre nuestros invitados. Nosotros muy conformes y agradecidos por acompañarnos en ese día superando todas nuestras expectativas"</p>
				<h5 class="text-center">Carolina &amp; Cristian</h5><br><br>
				<p class="text-center">"La música de Contranova le dio un toque de elegancia y calidez al ambiente de nuestro matrimonio. Junto a los invitados disfrutamos de un repertorio variado que definitivamente amenizó nuestra fiesta. Muy recomendable!"</p>
				<h5 class="text-center">Loreto &amp; Manuel</h5><br><br>
				<p class="text-center">"Fue una experiencia hermosa tener a Contranova el día de nuestro matrimonio, le dieron el toque perfecto para lograr lo que queríamos. Muchísimas gracias por el gran profesionalismo, dedicación y pasión que mostraron para que todo funcionara a la perfección, los recomendamos 100% con mucho orgullo"</p>
				<h5 class="text-center">Paulina &amp; Rodrigo</h5><br><br>
				<p class="text-center">"Los conocimos en un matrimonio al cual estábamos invitados y nos encantó su música y su repertorio, por lo que quisimos que fueran parte del nuestro. El día del evento llegaron con mucha anticipación y disfrutamos de su música en la cena con mucho éxito, quedamos felices con su presentación y nuestros invitados también. Los recomendamos de todas maneras para el evento que los necesiten, tienen repertorio para todo... no se arrepentirán"</p>
				<h5 class="text-center">Mónica &amp; Danilo</h5><br><br>
				<p class="text-center">"Necesitábamos para nuestro evento un toque de elegancia, estilo y calidad, y con Contranova encontramos eso y un equipo profesional de primera. Gracias al variado repertorio, pudimos disfrutar de su música haciendo un momento muy agradable para los asistentes. Totalmente recomendable para personas o empresas que necesitan calidad musical, con un equipo humano que hace fácil y agradable trabajar. Contranova es una carta segura para un evento de primera calidad, para quienes quieran sorprender a sus invitados"</p>
				<h5 class="text-center">Gonzalo Mery, Agencia Pega</h5><br>
			</div>
		</div>
	</div>
	


	<!--***********************
	   	   redesSociales
	***********************-->
	
	<div class="redesSociales" id="siguenosClick">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<br><br>
				<h3 class="titles text-center">Redes sociales</h3>
				<div class="redLine"></div><br><br>
			</div>
			<div class="col-xs-12 col-sm-8 col-md-4 col-lg-4
		    col-sm-offset-2 col-md-offset-1 col-lg-offset-1">
		    	
		    	<div class="redesSocialesContenedor">
					<div class="redesHide" id="instaHide">
						<script src="//lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/d2cfc1fefe925353868a9894efad0629.html" id="lightwidget_d2cfc1fefe" name="lightwidget_d2cfc1fefe"  scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
					</div>
					<img src="img/instagram_cargar.jpg" alt="instagramImg" class="img-responsive" id="insta">
					<br>
				</div>
				
				<div class="text-center">
					<br>
					<a class="fa fa-instagram socialTextIcon redesSocialesLink" aria-hidden="true" href="https://www.instagram.com/contranova_musica/" target="_blank"></a>
					<br><br>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6
			col-md-offset-1 col-lg-offset-1">
				<div class="redesSocialesContenedor">
					<div class="facebookContenedor">
						<div class="redesHide" id="faceHide">
					    	<div class="facebook" >
								<div class="fb-page" data-href="https://www.facebook.com/Contranova/" data-tabs="timeline" data-width="280" data-height="500" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/Contranova/"><a href="https://www.facebook.com/Contranova/">Contranova, música para eventos y matrimonios</a></blockquote></div></div>
							</div>
						</div>
						<img src="img/facebook_cargar.jpg" alt="facebookImg" id="face" >
						<br>
					</div>
				</div>
				
				<div class="text-center">
					<br>
					<a class="fa fa-facebook socialTextIcon redesSocialesLink" aria-hidden="true" href="https://www.facebook.com/Contranova" target="_blank"></a>
					<br><br>
				</div>
			</div>
		</div>
	</div>


	<!--***********************
	   	    Contacto
	***********************-->
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="contactoClick" style="padding:0;">
		<div class="contacto">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<br><br>
					<h3 class="titles text-center">Contáctanos</h3>
					<div class="redLine"></div><br><br>
				</div>
				<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8
				col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
					<p class="text-center">Te invitamos a reservar con nosotros y experimentar la mejor música para tu evento</p><br><br>

				</div>




				<div ng-controller="formulario" class="col-xs-12 col-sm-10 col-md-8 col-lg-8
				col-sm-offset-1 col-md-offset-2 col-lg-offset-2">
					<form name="registration_form" action="enviar.php" method="POST" id="registration_form" class="form-horizontal" id="formularioContranova">
						<div class="form-group">
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<input class="form-control inputContranova formUnoPorMedio" type="text" autocapitalize="off" type="text"
								name="nombre" id="nombre" required 
								ng-change="valNombre(inputNombre)" ng-model="inputNombre" 
								placeholder="Nombre y Apellido*">

								<div id="nombreError" class="screenError"></div>
							</div>       
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<input class="form-control inputContranova" type="text" autocapitalize="off" type="text" 
								name="mail" id="mail" required
								ng-change="valMail(inputMail)" ng-model="inputMail" 
								placeholder="Mail de Contacto*">

								<div id="mailError" class="screenError"></div>
							</div>
						</div><!--/form-group-->

						<div class="form-group">
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<input class="form-control inputContranova formUnoPorMedio" type="text" 
								name="telefono" id="telefono" required
								ng-change="valTelefono(inputTelefono)" ng-model="inputTelefono" 
								placeholder="Teléfono*">

								<div id="telefonoError" class="screenError"></div>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<input class="form-control inputContranova" type="text" 
								name="tipoEvento" id="tipoEvento" required
								ng-change="valTipoEvento(inputTipoEvento)" ng-model="inputTipoEvento" 
								placeholder="Tipo de Evento*">
							</div>
						</div><!--/form-group-->

						<div class="form-group">
							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<input class="form-control inputContranova formUnoPorMedio" type="date"
								name="fecha" id="fecha"
								placeholder="Fecha">
							</div>

							<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
								<input class="form-control inputContranova" type="text" 
								name="lugar" id="lugar"
								placeholder="Lugar">
							</div>
						</div><!--/form-group-->

						<div class="form-group">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<input class="form-control inputContranova" type="text"
								name="como" id="como"
								placeholder="¿Cómo te enteraste de nosotros?">
							</div>

						</div><!--/form-group-->

						<div class="form-group">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<textarea class="form-control inputContranova" rows="5" 
								name="comentarios" id="comentarios" 
								placeholder="Comentarios"></textarea>
							</div>
						</div>

						<br><br>
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
							<p class="text-center">Los campos marcados con asterisco(*) son obligatorios</p>
							<br>
						</div>

						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
							<div class="buttonContranovaContenedorForm">
								<button class="buttonContranovaForm disabled" type="submit" value="Submit" name="submit">Enviar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>



	<!--***********************
	   	    footer
	***********************-->
	<footer>
		<div class="row">
			<div class="footer">
				<br>
				<h4 class="text-center"><span class="glyphicon glyphicon-menu-up" id="goToTop"></span></h4>
				<h3 class="text-center">Contranova</h3>
				<p class="text-center">© Copyright 2016 DevLab</p>
				<br>
				<br>
			</div>
		</div>
	</footer>


	

	<!-- Bootstrap JS-->
	<script src="bootstrap/js/bootstrap.min.js"></script>

	<!-- Angular -->
	<script src="js/angular.min.js"></script>
	<script src="js/app_angular.js"></script>

	<!-- Preloader -->
	<script src="js/please-wait.min.js"></script>

	<!-- Magnific Popup core JS file -->
	<script src="js/jquery.magnific-popup.min.js"></script>

	<!-- JAVASCRIPT --> 
	<script src="js/app.js"></script>

</body>
</html>